<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Rota Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <nav>
        <a href="{{ url_for('main.main') }}">Main (Generate Rota)</a>
        <a href="{{ url_for('rota.rota_request') }}">Rota Request (Fixed Shifts)</a>
        <a href="{{ url_for('people.people') }}">People</a>
        <a href="{{ url_for('shifts.add_shift') }}">Shifts</a>
    </nav>

    <div>
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>